body{
    font-family: Arial, Helvetica, san-serif;
    font-size: 15px;
    line-height: 1.5;
    font:15px/1.5 Arial, Helvetica, san-serif;
    padding: 0;
    margin: 0;
    background-color: #bc2416;
}

.container{
    width: 80%;
    margin: auto;
    
}